.back-to-top-btn{
  @extend .fixed-btn;
  opacity: 0;
  z-index: $z-back-to-top-btn;
  right: 0.5rem;
  transition: $transition;

  &:after{
    border-bottom-color: $color-secondary;
    border-bottom-width: 20px;
    left: 10px;
    top: -2px;
  }

  &.is-visible{
    opacity: 1;
  }
}