/*
  main nav
 */

$burger-height: $btn-round-size; //Height (and width) of the burger menu
$burger-border-width: $btn-round-border; //Width of the borders and 'buns'
$burger-bun-width: 20px; //Width of the 'buns'
$burger-bun-height: $burger-border-width; //Height of the 'buns'
$burger-border-radius: 50%; //Change the border radius of the menu

$burger-bun-width-half: ($burger-bun-width / 2); //Half bun width used for calculation
$burger-pad-left: ($burger-height / 2 - $burger-bun-width-half - 2); //Horizontally centers bun in menu
$burger-pad-top: ($burger-height / 2 - $burger-bun-width-half - 2); //Vertically centers bun in menu

.main-nav{
  background-color: #fff;
  text-align: center;
}
.main-nav--item {
  background-color: #fff;
  padding: 1rem;
  color: $color-secondary;
  min-width: 110px;
  max-width: 200px;
  display: inline-block;
  text-align: center;
  transition: $transition;
  position: relative;

  &:visited{
    color: $color-secondary
  }

  &.is-active{
    background-color: $color-primary;
    color: $color-secondary;
  }

  &:hover{
    background-color: $color-primary;
    color: $color-secondary;
  }
}

.js{
  .main-nav{
    background-color: transparent;
    position: absolute;
    left: -100%;
    top: 6rem;
    z-index: 2;
    transition: $transition;
  }

  .open .main-nav{
    left: 1rem;
  }

  .main-nav--item {
    border-radius: 2rem;
    display: block;
    margin-bottom: 1rem;
    float: left;
    padding: 1rem 2rem;
    clear: both;

    &:visited{
      color: $color-secondary
    }

    &.is-active{
      background-color: $color-primary;
      color: $color-secondary;
    }

    &:hover{
      background-color: $color-primary;
      color: $color-secondary;
    }
  }

  .open{
    .main-nav--item{
    }
  }

  .main-nav-btn {
    opacity: 1;
  }
}

.main-nav-btn{
  opacity: 0;
  @extend .btn-round;
  padding-left: $burger-pad-left;
  padding-top: 0;
  position: absolute;
  z-index: $z-main-nav-btn;
  left: 1rem;
  top: 1rem;
}

.main-nav-btn--inner{
  position: absolute;
  top: $burger-pad-top;
}

.main-nav-icon {
  background: $color-secondary;
  position: relative;
  transition: $transition;

  &--top {
    height: $burger-bun-height;
    top: 0;
    width: $burger-bun-width;
  }

  &--mid {
    height: $burger-bun-height;
    top: 8px;
    width: $burger-bun-width;
  }

  &--bottom {
    height: $burger-bun-height;
    top: 16px;
    width: $burger-bun-width;
  }
}

.open{
  .main-nav-icon--top {
    top: 9px;
    transform: rotate(45deg);
  }

  .main-nav-icon--mid {
    opacity: 0;
  }

  .main-nav-icon--bottom {
    top: 5px;
    transform: rotate(-45deg);
  }
}
