$color-primary: rgb(248, 198, 196);
$color-secondary: rgb(9, 43, 67);
$transition-speed: .4s; //Transition speed settings
$transition: all $transition-speed ease; //Transitions

/*
  z indexes
 */

$z-main-nav-btn: 2;
$z-back-btn: 2;
$z-back-to-top-btn: 2;
$z-splash: 3;
$z-map-btn: 1;
$z-map-loader: 2;


*{
  box-sizing: border-box;
}

html, body {
  color: $color-primary;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 300;
  background-color: $color-secondary;
  font-size: 1rem;
  line-height: 1.5;
}

ul, ol{
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;
}

a{
  color: $color-primary;
  text-decoration: none;

  &:visited{
    color: lighten($color-primary, 10);
  }
}

h1, h2{
  font-family: 'Playfair Display', serif;
  text-transform: capitalize;
  text-align: center;
  padding: 1rem;
  margin-top: 0;
}

h1{
  margin-bottom: 1rem;
}

img{
  max-width: 100%;
}

$btn-round-size: 44px;
$btn-round-border: 2px;
$btn-round-size-half: ($btn-round-size / 2);
$btn-round-left: ($btn-round-size / 2 - $btn-round-size-half - 2);
$btn-round-top: ($btn-round-size / 2 - $btn-round-size-half);

.btn-round{
  background: #fff;
  border: #fff solid $btn-round-border;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: $btn-round-size;
  transition: $transition;
  user-select: none;
  width: $btn-round-size;
  padding-left: $btn-round-left;
  padding-top: $btn-round-top;
  text-align: center;
  color: $color-secondary;

  &:visited{
    color: $color-secondary;
  }
  &:hover{
    border-color: $color-primary;
  }
}


.back-btn,
.back-to-top-btn{
  @extend .btn-round;
  position: fixed;
  bottom: 0.75rem;
  font-size: 0.75rem;
  padding: 1.25rem 0;
}

.back-btn {
  z-index: $z-back-btn;
  left: 1rem;
  background-image: url(/static/back.png);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center center;
}
.back-to-top-btn{
  z-index: $z-back-to-top-btn;
  right: 1rem;
  background-image: url(/static/up.png);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: $transition;
}