$color-primary: rgb(248, 198, 196);
$color-secondary: rgb(9, 43, 67);
$transition-speed: .4s; //Transition speed settings
$transition: all $transition-speed ease; //Transitions

*{
  box-sizing: border-box;
}

html, body {
  color: $color-primary;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 300;
  background-color: $color-secondary;
}

ul, ol{
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;
}

a{
  color: $color-primary;
  text-decoration: none;

  &:visited{
    color: lighten($color-primary, 10);
  }
}

h1, h2{
  font-family: 'Playfair Display', serif;
  text-transform: capitalize;
  text-align: center;
  padding: 1rem;
  margin-top: 0;
}

h1{
  margin-bottom: 1rem;
}

img{
  max-width: 100%;
}

.back-btn{
  padding: 1rem;
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: $transition;
  margin-top: 1rem;
  margin-bottom: 1rem;
  &:hover{
    border-bottom-color: $color-primary
  }
}