/*
  Animation
 */

.page-transition-enter-done{
  opacity: 1;
  transition: opacity 1000ms;
}
.page-transition-enter {}
.page-transition-enter-active {
  opacity: 0;
}
.page-transition-exit {}
.page-transition-exit-active {
  opacity: 0;
}

/*
  Locale
 */

.locale{
  padding-bottom: 1rem;
}

.locale--content{
  background-color: $color-secondary;
  position: relative;
  z-index: 1;
}

.locale--title{
  position: relative;
  overflow: visible;
  padding-top: 40px;

  &:after{
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    background-color: $color-secondary;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -40px;
    border-radius: 50%;
    z-index: 0;
  }
}

.locale--map-wrapper{
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #efeeec;
}

.locale--map{
  max-width: none;
  position: absolute;
  left: 50%;
}

.locale--nearby-list{
  max-width: 800px;
  margin: 0 auto;
}